<h1 class="page-header heading__secondary">About</h1>
<div class="page">
  <p class="heading__tertiary margin-top-medium">
    A self-driven, quick starter, passionate programmer with a curious mind who
    enjoys solving a complex and challenging real-world problems.
  </p>
  <ul class="details margin-top-small">
    <li class="heading__tertiary">
      <b>Technologies :</b>
      HTML/CSS, Javascript, Typescript, Angular, React.js
    </li>
    <li class="heading__tertiary margin-top-xsmall">
      <b>Databases :</b>
      Mysql, MongoDB
    </li>
    <li class="heading__tertiary margin-top-xsmall">
      <b>Libraries :</b>
      Bootstrap, Material, Prime, Amcharts, Highcharts
    </li>
    <li class="heading__tertiary margin-top-xsmall">
      <b>Tools :</b>
      Git, Jira, New relic, Kibana
    </li>
  </ul>
  <p class="heading__tertiary margin-top-small">
    Looking for an opportunity to work in a challenging position combining my
    skills in Software Engineering, which provides professional development,
    interesting experiences and personal growth.
  </p>
</div>
