<section class="contact" id="contact-me">
  <h2 class="text-center heading heading__secondary">Reach Out to me</h2>
  <p class="margin-top-xsmall text-center contact__text">
    Discuss a project or just want to say hi? My imbox is open for all.
  </p>
  <div class="contact__container margin-top-medium">
    <div>
      <div class="contact__type d-flex align-items-center">
        <div
          class="contact__icon-box d-flex justify-content-center align-items-center"
        >
          <fa-icon [icon]="icons.phone"></fa-icon>
        </div>
        <a
          href="tel:+917006648712"
          class="link contact__value margin-left-xsmall"
          >+91 7006648712</a
        >
      </div>
      <div class="contact__type d-flex align-items-center margin-top-small">
        <div
          class="contact__icon-box d-flex justify-content-center align-items-center"
        >
          <fa-icon [icon]="icons.mail"></fa-icon>
        </div>
        <a
          href="mailto:saksham.09.gupta@gmail.com"
          class="link contact__value margin-left-xsmall"
        >
          saksham.09.gupta@gmail.com
        </a>
      </div>
      <div class="contact__type d-flex align-items-center margin-top-small">
        <div
          class="contact__icon-box d-flex justify-content-center align-items-center"
        >
          <fa-icon [icon]="icons.linkedin"></fa-icon>
        </div>
        <a
          href="https://www.linkedin.com/in/saksham-gupta-6523aa193/"
          target="_blank"
          class="link contact__value margin-left-xsmall"
        >
          saksham-gupta-6523aa193
        </a>
      </div>
      <div class="contact__type d-flex align-items-center margin-top-small">
        <div
          class="contact__icon-box d-flex justify-content-center align-items-center"
        >
          <fa-icon [icon]="icons.github"></fa-icon>
        </div>
        <a
          href="https://github.com/sakshamGupta09"
          target="_blank"
          class="link contact__value margin-left-xsmall"
        >
          sakshamGupta09
        </a>
      </div>
    </div>
    <div class="contact__img"></div>
  </div>
</section>
