<h1 class="page-header heading__secondary">Experience</h1>
<div class="page margin-top-medium">
  <div class="card__container">
    <div class="card">
      <div class="card__header">
        <div class="employer">
          <a
            href="https://jungleworks.com/"
            target="_blank"
            class="logo__box d-block"
          >
            <img
              src="assets/images/jw-logo.svg"
              alt="Jungleworks Logo"
              class="employer__logo"
            />
          </a>
          <a
            href="https://jungleworks.com/"
            target="_blank"
            class="link employer__name heading__tertiary"
            >Click Labs</a
          >
        </div>
      </div>
      <div class="card__body">
        <p class="heading__tertiary"><b>Software Engineer</b></p>
        <ul class="employment__details margin-top-small">
          <li>
            Developed and managed the frontend of an e-commerce platform (Yelo)
            using Angular.
          </li>
          <li>Integration of new features as requested by the clients.</li>
          <li>Performance optimization by refactoring the codebase.</li>
          <li>
            Improved responsiveness and web designs which looks cool on all
            devices.
          </li>
          <li>
            <b>Tools : </b>
            HTML/CSS, Typescript, Angular 9.
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <p class="heading__small">Feb 2019 - Dec 2020 | Chandigarh, India</p>
      </div>
    </div>
    <div class="card margin-top-medium">
      <div class="card__header">
        <div class="employer">
          <a
            href="https://sdnatech.com/"
            target="_blank"
            class="logo__box d-block"
          >
            <img
              src="assets/images/sdna-logo.png"
              alt="SDNA Logo"
              class="employer__logo"
            />
          </a>
          <a
            href="https://sdnatech.com/"
            target="_blank"
            class="link employer__name heading__tertiary"
            >SDNA Tech</a
          >
        </div>
      </div>
      <div class="card__body">
        <p class="heading__tertiary"><b>Frontend Engineer</b></p>
        <ul class="employment__details margin-top-small">
          <li>
            Built a chrome extension to scrape data from job portals like
            naukri, linkedin.
          </li>
          <li>
            The extension was compatible with numerous linkedin versions like
            recruiter, recruiter-lite etc.
          </li>
          <li>
            Built an application tracking dashboard from scratch using angular
            11.
          </li>
          <li>
            <b>Tools : </b>
            HTML/CSS, Javascript, Typescript, Angular 11.
          </li>
        </ul>
      </div>
      <div class="card__footer">
        <p class="heading__small">Jan 2020 - June 2020 | Chandigarh, India</p>
      </div>
    </div>
  </div>
</div>
