@import "src/assets/css/card";
@import "src/assets/css/link";

.employment__details li {
  margin-left: 1rem;
}
.employer {
  &__logo {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .employer {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .card__container {
    padding: 0 3.5rem;
  }
  .employer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
