<section class="experiences" id="experiences">
  <h2 class="heading heading__secondary text-center">Work Experiences</h2>
  <div class="card margin-top-medium">
    <div class="card__header">
      <img
        src="/assets/images/jw-logo.svg"
        alt="Jungleworks Logo"
        class="card__logo"
        loading="lazy"
      />
      <div class="card__info">
        <a
          href="https://jungleworks.com/"
          target="_blank"
          class="card__name link"
          >Jungleworks</a
        >
        <p class="card__tenure">Feb 2019 to Jan 2021</p>
      </div>
    </div>
    <p class="margin-top-small card__designation">Software Engineer</p>
    <ul class="margin-top-small">
      <li class="card__achievement">
        Specifically designed for businesses that order, sell, deliver & market
        products or services, and for those who are looking for an end-to-end
        solution to manage their entire business operation from start to finish,
        JW Hyperlocal Stack is for you.
      </li>
      <li class="card__achievement margin-top-small">
        Specifically designed for businesses that order, sell, deliver & market
        products or services, and for those who are looking for an end-to-end
        solution to manage their entire business operation from start to finish,
        JW Hyperlocal Stack is for you.
      </li>
    </ul>
  </div>
</section>
