<section class="experiences" id="experiences">
  <h2 class="heading heading__secondary text-center">Work Experiences</h2>
  <div class="card margin-top-medium">
    <div class="card__header">
      <img
        src="/assets/images/jw-logo.svg"
        alt="Jungleworks Logo"
        class="card__logo"
        loading="lazy"
      />
      <div class="card__info">
        <a
          href="https://jungleworks.com/"
          target="_blank"
          class="card__name link"
          >Jungleworks</a
        >
        <p class="card__tenure">Feb 2019 to Jan 2021</p>
      </div>
    </div>
    <p class="margin-top-small card__designation">Software Engineer</p>
    <ul class="margin-top-small">
      <li class="card__achievement">
        Jungleworks is a product based company dealing in commerce space. I got
        to work on one of the product - Yelo which is the online marketplace for
        order management.
      </li>
      <li class="card__achievement margin-top-small">
        Integrated new features as requested by the clients.
      </li>
      <li class="card__achievement margin-top-small">
        Added multilingual support for our new clients using ngx-translate
        package.
      </li>
      <li class="card__achievement margin-top-small">
        Integrated numerous payment gateways to make payment decisions easier
        for our customers.
      </li>
      <li class="card__achievement margin-top-small">
        Improved site reliablility and performance by using lazy loading,
        preloading etc with other best practices.
      </li>
    </ul>
  </div>
  <div class="card margin-top-medium">
    <div class="card__header">
      <img
        src="/assets/images/sdna-logo.svg"
        alt="SDNA Logo"
        class="card__logo"
        loading="lazy"
      />
      <div class="card__info">
        <a href="https://sdnatech.com/" target="_blank" class="card__name link"
          >SDNA Tech</a
        >
        <p class="card__tenure">Jan 2021 to June 2021</p>
      </div>
    </div>
    <p class="margin-top-small card__designation">Software Engineer</p>
    <ul class="margin-top-small">
      <li class="card__achievement">
        Built a chrome extension that scrapes data from recruitment portals like
        Naukri, Linkedin and Monster.
      </li>
      <li class="card__achievement margin-top-small">
        Developed a Candidate Application Tracking System (CATS) from scratch
        using Angular 12.
      </li>
      <li class="card__achievement margin-top-small">
        The extension was compatible with various versions of Linkedin like
        recruiter version, premium, recruiter lite etc.
      </li>
      <li class="card__achievement margin-top-small">
        Created responsive layouts which looks cool on all screen sizes.
      </li>
    </ul>
  </div>
  <div class="card margin-top-medium">
    <div class="card__header">
      <img
        src="/assets/images/ps-logo.svg"
        alt="Publicis Sapient Logo"
        class="card__logo"
        loading="lazy"
      />
      <div class="card__info">
        <a
          href="https://www.publicissapient.com/"
          target="_blank"
          class="card__name link"
          >Publicis Sapient</a
        >
        <p class="card__tenure">June 2021 To Present</p>
      </div>
    </div>
    <p class="margin-top-small card__designation">Software Engineer</p>
    <ul class="margin-top-small">
      <li class="card__achievement">
        Developed and maintained an event licencing platform for UAE Government,
        which will facilitate easy management of all the events happening in UAE
        during Covid time.
      </li>
      <li class="card__achievement margin-top-small">
        Integrated and maintained new features & functionalities for Verizon
        Wireless - telecommunication giant of U.S.
      </li>
      <li class="card__achievement margin-top-small">
        Integrated tools like Jest, webpacks, linting for safer development.
      </li>
    </ul>
  </div>
</section>
