@import "src/assets/css/button";

.intro {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.social {
  display: flex;
  font-size: 1.5rem;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #000;
  }

  &--github {
    background-color: #fca326;
  }
  &--linkedin {
    background-color: #0e76a8;
  }
  &--mail {
    background-color: #ea4335;
  }
}

@media only screen and (min-width: 1200px) {
  .intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding: 0 4rem;
    &__img {
      background-image: url("/assets/images/manOnTable.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
