<section class="intro padding-medium">
  <h2 class="heading__primary">Hi, I'm Saksham Gupta</h2>
  <p class="heading__tertiary margin-top-small">
    A Frontend Developer with 3+ years of experience, that thrives on building
    neat , efficient and scalable web applications. I'm enthusiastic about
    growing and gaining new skills on my journey. I value learning from others,
    genuine connections and hearing about other people's passions and how I can
    possibly help.
  </p>
  <div class="social margin-top-small"></div>
</section>
