<section class="intro">
  <div class="intro__content">
    <h1 class="heading heading__primary">Hi all, I'm Saksham</h1>
    <p class="heading heading__tertiary margin-top-small">
      A passionate Frontend Developer with over three years of experience, that
      thrives on building neat, efficient and scalable web applications with
      Javascript / Angular / React and some other cool libraries and frameworks.
    </p>
    <div class="social margin-top-medium">
      <a
        *ngFor="let link of socialLinks"
        [href]="link.url"
        [class]="link.class"
        target="_blank"
      >
        <fa-icon [icon]="link.icon"></fa-icon>
      </a>
    </div>
    <div class="btn-group margin-top-medium">
      <button class="btn">Contact Me</button>
      <button class="btn">See My Resume</button>
    </div>
  </div>
  <div class="intro__img"></div>
</section>
