.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.page-header {
  background-color: var(--color-secondary);
  color: var(--color-white);
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
}
.page {
  padding: 0 1rem;
  margin-bottom: 2.5rem;
}
