.padding-medium {
  padding: 5vw;
}
.margin-top-small {
  margin-top: 2rem;
}
.margin-top-xsmall {
  margin-top: 1rem;
}
.margin-top-medium {
  margin-top: 4rem;
}
.margin-left-xsmall {
  margin-left: 1rem;
}
li {
  margin-top: 1rem;
}
