<section class="proficiency">
  <h2 class="text-center heading heading__secondary">Proficiency</h2>
  <div class="margin-top-medium proficiency__container">
    <div class="proficiency__wrapper">
      <p class="proficiency__name">HTML/CSS</p>
      <progress
        class="proficiency__value margin-top-small"
        value="70"
        max="100"
      ></progress>
    </div>
    <div class="proficiency__wrapper margin-top-small">
      <p class="proficiency__name">Javascript</p>
      <progress
        class="proficiency__value margin-top-small"
        value="65"
        max="100"
      ></progress>
    </div>
    <div class="proficiency__wrapper margin-top-small">
      <p class="proficiency__name">Angular</p>
      <progress
        class="proficiency__value margin-top-small"
        value="60"
        max="100"
      ></progress>
    </div>
    <div class="proficiency__wrapper margin-top-small">
      <p class="proficiency__name">React</p>
      <progress
        class="proficiency__value margin-top-small"
        value="60"
        max="100"
      ></progress>
    </div>
  </div>
</section>
